dt {
    font-weight: bold;
  }
  
  dl,
  dd {
    font-size: 20px;
  }
  
  dd {
    margin-bottom: 1em;
  }
  
  #toc_container {
    background: lightgray;
    border: 4px solid black;
    display: table;
    font-size: 95%;
    margin-bottom: 1%;
    padding: 2%;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
    font-size: 20px;
}
